@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Montserrat;
}

body {
  background-color: rgb(250, 244, 244);
}

.upgrade {
  background-color: aquamarine;
}

.points {
  color: rgb(100, 100, 100);
}
.xp {
  color: blue;
}

#pointsButton {
  background-color: rgb(255, 240, 240);
}

#pointsButton:hover {
  background-color: rgb(167, 157, 157);
}
