@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Montserrat;
}

$start-color: #ffffff;
$end-color: #ff9d9d;

body {
  background: linear-gradient(to bottom right, $start-color, $end-color);
  min-height: 100vh;
  background-size: cover;
}

.upgrade {
  background-color: aquamarine;
}

.reset {
  background-color: cornflowerblue;
}

.points {
  color: rgb(100, 100, 100);
}

.xp {
  color: blue;
}

.compression {
  color: darkslategray;
}

#pointsButton {
  background-color: rgb(255, 240, 240);
}

#pointsButton:hover {
  background-color: rgb(167, 157, 157);
}

#wiper {
  background-color: red;
}
