@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: Montserrat;
  background-color: rgb(214, 191, 191);
}

#pointsButton {
  background-color: rgb(255, 240, 240);
}

#pointsButton:hover {
  background-color: rgb(167, 157, 157);
}
